h1.tgfrm {
    width: 95%;
}

form.ac-frm {
    padding: 0;
}

.hsoaiof {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10%;
}

img.consult {
    position: relative;
}