nav.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

ul.navlist {
  display: flex;
  gap: 1em;
  flex-direction: row;
  align-items: center;
}

ul.navlist li a {
  font-weight: 300;
  letter-spacing: 0.015em;
}

button.btns {
  background: black;
  padding: 1%;
}

button.btns a {
  color: white;
}

.btns a {
  color: white;
}

a.btns {
  padding: 11% 1em;
  background: black;
  color: white;
}

.logo img {
  width: 200px;
}
.nbtn {
  columns: whiet;
}
footer.foot {
  background: black;
  padding: 7% 10%;
  color: white;
}

h1.fhed {
  font-weight: 100;
  font-size: 4em;
}

.r1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  z-index: 3;
  justify-content: space-between;
}

.r2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

ul.frr2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0.85em;
  flex-direction: row;
}

p.fdes {
  font-weight: 300;
  color: white;
}

.c1 {
  width: 43%;
  padding-bottom: 2.75em;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.c2 p {
  font-size: 1.75em;
  font-weight: 100;
}

.c2 ul li a {
  color: white;
  font-weight: 200;
  font-size: medium;
  padding-left: 1.25em;
  transition: all ease 0.2s;
}

.c2 ul li a:hover {
  color: #c3c3c3;
}

.c3 {
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}

.chat a {
  background: white;
  color: black;
  padding: 1em 3em;
}

a.chat {
  background: white;
  color: black;
  padding: 1.25em 2em;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all ease 0.2s;
  margin: 3% 0%;
  cursor: pointer;
}

a.chat:hover {
  color: white;
  border: 1px solid white;
  background: transparent;
}
a.chata {
  background: transparent;
  color: white;
  padding: 1.25em 2em;
  border-radius: 2rem;
  border: 1px solid white;
  transition: all ease 0.2s;
  margin: 3% 0%;
  cursor: pointer;
}

a.chata:hover {
  color: black;
  border: 1px solid transparent;
  background: white;
}

.flr2 {
  color: white;
  font-weight: 200;
  letter-spacing: 0.025em;
}

.r2 {
  margin-bottom: 1%;
}

.frr2 li a {
  color: white;
  font-size: 28px;
}

p.r3 {
  font-size: 15px;
  width: 48%;
  color: gray;
}

.c2 {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}

.c3 a {
  color: white;
  font-weight: 200;
  transition: all ease 0.2s;
}

.c3 a:hover {
  color: #c3c3c3;
}

.c2,
.c3 {
  gap: 0.275em;
}

.c2 ul {
  gap: 0.35em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
a.btns {
  border-radius: 3rem;
  padding: 1.5em 2em;
  border: 1px solid transparent;
  transition: all ease 0.25s;
}

a.btns:hover {
  border: 1px solid black;
  color: black;
  background: transparent;
}
footer.foot {
  position: relative;
  overflow: hidden;
}

.foot img {
  position: absolute;
  right: 14%;
  top: 0;
  filter: saturate(0) brightness(0.65) blur(21px);
  z-index: 0;
}
.btns {
  display: flex;
  gap: 10px;
  margin: 1.67% 0;
}
.btns {
  display: flex;
  gap: 10px;
}

.btns a span {
  display: flex;
  font-size: 20px;
}

.btns a {
  display: flex;
  align-items: center;
  border-radius: 15rem;
  gap: 0.25em;
  padding: 2em 2.75em;
}
footer.foot {
  padding-bottom: 2%;
}
p.number {
    margin: 3% 0;
    margin-bottom: 0;
    display: flex;
    gap: 0.5em;
    flex-direction: row;
    align-items: center;
}