/* Hero CSS */
img.rhrimg {
  width: 100%;
  border-radius: 6em 0 0 12em;
}

.rhr {
  width: 50rem;
}

.herocont {
  display: flex;
  width: 100%;
  padding: 1% 10%;
  flex-direction: row-reverse;
  gap: 4%;
}

h4.hr {
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
}

a.hrca {
  color: white;
  background: black;
  padding: 2em 3em;
  border-radius: 5em;
}

.btnss {
  display: flex;
  align-items: center;
  gap: 0.67em;
}

a.hrc {
  padding: 2em 3em;
  border: 1px solid black;
  border-radius: 5em;
}

.lhr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 3%;
  gap: 0.25%;
}
img.rhrimg {
  width: 100%;
  border-radius: 6em 0 0 12em;
  padding: 3%;
}

.rhr {
  width: 50rem;
}

h4.hr {
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
}

a.hrca {
  color: white;
  background: black;
  padding: 1.67em 2.25em;
  border: 1px solid white;
  transition: all ease 0.2s;
  border-radius: 5em;
}

.btnss {
  display: flex;
  align-items: center;
  gap: 0.67em;
}

a.hrc {
  padding: 1.67em 2.25em;
  border: 1px solid black;
  border-radius: 5em;
  color: black;
  transition: all ease 0.2s;
}

.lhr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a.hrc:hover {
  color: white;
  background: black;
}

a.hrca:hover {
  filter: invert(1);
}
.lhr h1 {
  font-size: 5rem;
  color: #0869ff;
  line-height: 100%;
}

.lhr h1 span {
  color: #ff451f;
}
p.hdes {
  font-size: 24px;
  font-weight: 800;
  background-clip: text;
  background: linear-gradient(15deg, #3a87ff, #ff004e);
  color: transparent;
  background-clip: text;
}

p.pdes {
  font-size: 17px;
  margin-bottom: 4%;
}
a.hrc {
  display: flex;
  gap: 0.23em;
  align-items: center;
  flex-direction: row;
}

a.hrc span {
  display: flex;
  font-size: 30px;
  font-weight: 400;
}

/* marquee */

.marquee-container {
  display: flex;
  padding: 2% 10%;
}

.marquee-image {
  width: 150px;
  height: auto;
  margin: 0 1rem;
  border-radius: 0.5rem;
}
.marquee-container::before,
.marquee-container::after {
  content: "";
  display: block;
  background: white;
  height: 4rem;
  width: 4rem;
  position: absolute;
  z-index: 8;
  box-shadow: 0 0 1em 1em white;
}

.marquee-container::after {
  left: 86%;
}

/* About */
video.abtl {
  border-radius: 5rem 24em 27rem 43rem;
  width: 28rem;
  gap: 3em;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.shortAbt {
  display: flex;
  align-items: flex-start;
  padding: 6% 10%;
  gap: 3em;
  flex-direction: row;
}

.abtr h1 {
  color: #0869ff;
  font-size: 5rem;
  line-height: 100%;
}

p.abtdes {
  font-size: 17px;
  font-weight: 400;
  display: flex;
  padding: 2% 0 2%;
  flex-direction: row;
  text-align: justify;
  margin-left: 4%;
  gap: 1em;
  align-items: stretch;
}

.btnnss a {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.btnnss {
  display: flex;
  gap: 0.67em;
  align-items: center;
}

a.abtsn {
  background: #ff451f;
  padding: 1em 2em;
  color: white;
  border: 1px solid transparent;
  transition: all ease 0.2s;
}

a.abtsnaa {
  color: white;
  padding: 1em 2rem;
  background: #0869ff;
  border: 1px solid transparent;
  transition: all ease 0.2s;
}

a.abtsnaa:hover {
  color: #0869ff;
  background: white;
  border: 1.5px solid #0869ff;
}

a.abtsn:hover {
  background: white;
  border: 1.5px solid #ff451f;
  color: #ff451f;
}

p.abtdes {
  padding: 2% 0 5%;
}

/* Services section */
h1.shead {
  font-size: 4rem;
  margin-bottom: 3%;
}

div#Services {
  padding: 0% 10% 4%;
}

.scont {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.scont div video {
  width: 28rem;
  padding-bottom: 3%;
  border-radius: 10rem;
}

.scont div img {
  width: 19rem;
  border-radius: 7rem;
  padding: 1% 7%;
}

p.kn {
  color: var(--rd);
}

a.kn {
  color: white;
  background: var(--rd);
  padding: 0.25em 1em;
  cursor: pointer;
  margin: 3% 0;
  border-radius: 10px;
  transition: all ease 0.2s;
  border: 1px solid transparent;
}

a.kn:hover {
  background: transparent;
  color: var(--rd);
  border: 1px solid var(--rd);
}
.scont div {
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: min-content;
  padding: 0% 3% 2%;
  border: 1px solid #4275ff;
  align-items: flex-start;
  box-shadow: 0px 0px 0px 0px #0869ff;
  border-radius: 4rem;
}

.scont div h1 {
  white-space: nowrap;
}
.div1,
.div2 {
  justify-content: flex-end;
}
.div2 h1 {
  padding-right: 5%;
}

.scont div p {
  color: black;
}
.scont div h1 {
  color: #0869ff;
}
.scont div {
  cursor: pointer;
}
.scont div:hover {
  box-shadow: -3.5px 1.75px 1px 1px #4275ff;
  transition: all ease-in-out 0.2s;
}
h1.shead {
  color: var(--bl);
}

.shead span {
  font-size: 16px;
  font-weight: 400;
  color: black;
  font-style: italic;
  border-left: 1px solid var(--bl);
  padding-left: 1%;
}

h1.shead {
  display: flex;
  line-height: 100%;
  flex-direction: column;
}

/* Hero EmI */
div#hero {
  display: flex;
  padding: 5% 10%;
  flex-direction: row;
  width: 100%;
  gap: 1em;
  justify-content: space-between;
}

img.her {
  width: 38rem;
  filter: hue-rotate(172deg) saturate(2.5);
  border-radius: 17rem;
  height: fit-content;
}

.hel h1 {
  font-size: 3.5rem;
  color: var(--bl);
}

.hel h1 span {
  color: var(--rd);
}

.hel p {
  font-size: 18px;
  font-weight: 400;
  border-left: 2px solid var(--rd);
  padding-left: 3%;
  margin: 2% 1%;
}

.hel button {
  margin: 3% 0;
  padding: 5%;
  background: var(--rd);
  color: white;
  border-radius: 4rem;
  font-size: 20px;
  border: 1px solid transparent;
  transition: all ease 0.2s;
  cursor: pointer;
}

.hel button:hover {
  background: transparent;
  border: 1px solid var(--rd);
  color: var(--rd);
}

/* Externel  */
.herocont,
.navbar {
  background: linear-gradient(270deg, #398cff75, #ffffff);
}

/* reviews */

h1.rehed {
  font-size: 3rem;
  color: var(--bl);
  text-align: center;
}

div#review {
  padding: 3% 10% 7%;
}

p.repd {
  padding: 0px 20%;
  text-align: center;
  font-size: 20px;
}
/* 404 Error */
div#error404 {
  text-align: center;
  padding: 4%;
}

#error404 h1 {
  font-size: 10rem;
  line-height: 100%;
  color: #8ba8ff;
}

#error404 p {
  font-size: 18px;
  font-weight: 400;
}

/* emi calculator */
h2.memih {
  color: var(--bl);
  font-size: 3rem;
  margin-bottom: 1%;
}

div#emicalc {
  padding: 4% 10%;
}

.emic1.emic1inactive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  transition: all ease 0.2s;
}

.memiint,
.memitenu,
.memiprin {
  display: flex;
  gap: 0.25em;
  align-items: center;
  width: 61%;
  margin-left: 3%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 0% 0%;
}

.emic1.emic1inactive button {
  padding: 1.6em 3em;
  background: var(--bl);
  border-radius: 5rem;
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
  border: 1px solid transparent;
}

.emic1.emic1inactive button:hover {
  background: transparent;
  border: 1px solid var(--bl);
  color: var(--bl);
}

.emic1.emic1inactive input {
  padding: 4%;
  border-radius: 4em;
  border: 1px solid black;
}

.emic1.emic1inactive label {
  font-size: 1em;
}

/* active emi */
div#emicalc {
  display: flex;
  justify-content: flex-start;
}

.emic1 {
  padding: 2% 4%;
  background: linear-gradient(293deg, #398cff75, #ffffff);
  border-radius: 5rem;
}

.emic1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  transition: all ease 0.2s;
}

.memiint,
.memiprin,
.memitenu {
  display: flex;
  gap: 0.25em;
  align-items: center;
  width: 100%;
  margin-left: 3%;
  flex-direction: row;
  padding: 0% 0% 0%;
  justify-content: space-between;
}

.emic1 button {
  padding: 1.6em 3em;
  background: var(--bl);
  border-radius: 5rem;
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
  border: 1px solid transparent;
}

.emic1 button:hover {
  background: transparent;
  border: 1px solid var(--bl);
  color: var(--bl);
}

.emic1 input {
  padding: 4%;
  border-radius: 4em;
  border: 1px solid black;
}

.emic1 label {
  font-size: 1em;
}

.emic1 h2 {
  font-size: 2em;
}
div#emicalc {
  display: flex;
  justify-content: flex-start;
}

.emic1 {
  padding: 2% 4%;
  background: linear-gradient(293deg, #398cff75, #ffffff);
  border-radius: 4rem;
}

.emic1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 61%;
  gap: 1em;
  transition: all ease 0.2s;
}

.memiint,
.memiprin,
.memitenu {
  display: flex;
  gap: 0.25em;
  align-items: center;
  width: 100%;
  margin-left: 3%;
  flex-direction: row;
  padding: 0% 0% 0%;
  justify-content: space-between;
}

.emic1 button {
  padding: 1.6em 3em;
  background: var(--bl);
  border-radius: 5rem;
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
  border: 1px solid transparent;
  margin-top: 2%;
}

.emic1 button:hover {
  background: transparent;
  border: 1px solid var(--bl);
  color: var(--bl);
}

.emic1 input {
  padding: 4%;
  border-radius: 4em;
  border: 1px solid black;
}

.emic1 label {
  font-size: 1em;
}

.emic1 h2 {
  font-size: 2em;
}

.emir2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emic2.emic2active {
  padding: 2% 5%;
  background: linear-gradient(45deg, #ff7e9559, transparent);
  border-radius: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.emir1 {
  background: var(--bl);
  color: white;
  border-radius: 2em;
  padding: 3%;
}

.emir2c1 {
  padding: 2% 17%;
  background: white;
  border-radius: 4rem;
}

.emir2c2 div {
  background: white;
  padding: 9% 7%;
  border-radius: 2rem;
}

.emir2c2 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  gap: 0.25em;
  justify-content: space-between;
}
.emir2c2 div p {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-direction: row;
}

.emir3 {
  display: flex;
  align-items: center;
  width: 100%;
  background: white;
  padding: 1% 3%;
  font-size: 21px;
  border-radius: 4rem;
  gap: 0.5em;
}

.p {
  font-size: 14px;
  font-weight: 600;
}

.p span {
  font-weight: 400;
}
div#emicalc {
  gap: 1em;
}
/* improvments */
ul.navlist {
  position: relative;
  z-index: 34;
}
ul.navlist {
  position: relative;
  color: white;
  z-index: 34;
}

.navlist.suv {
  position: absolute;
  top: 0;
  width: 52%;
  height: 19%;
  background: var(--darkbl);
  right: 6%;
  border-radius: 8rem;
}

.navlist.suv::after {
  content: "";
  display: block;
  background: var(--darkbl);
  height: 7rem;
  width: 28%;
  border-radius: 0rem;
  position: absolute;
  rotate: -19deg;
  top: -29%;
  left: -2.09899898%;
}
a.nvanime {
  color: white;
}

a.btns {
  color: black;
  font-weight: 500;
}
.scont div video {
  width: 20rem;
}

.scont div img {
  width: 20rem;
}
.hel p {
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: justify;
}
.scont div,
.div1,
.div2 {
  display: flex;
  justify-content: center;
}
/* Experimental EMI */
section.smemi1,
section.smemi2 {
  display: flex;
  align-items: center;
  gap: 2em;
  flex-direction: row;
}

.memiprin {
  justify-content: flex-start;
  gap: 2em;
}

.range-row input[type="number"] {
  height: 4em;
  padding-left: 36%;
}
.memiint,
.memitenu {
  flex-direction: column;
  align-items: flex-start;
}
.emic1 input[type="range"] {
  padding: 1%;
  width: 49%;
  height: 1em;
}
.emic1 input[type="range"] {
  padding: 0;
  width: 53%;
}

/* experimental about */
.a2 video {
  width: 45%;
}
.service-card {
  justify-content: flex-end;
}

/* experimental form */
.namfrm {
  display: flex;
  align-items: center;
  flex-direction: row;
}

input.ac-input {
  width: 20rem;
}

h1.tgfrm {
  line-height: 92%;
  font-size: 5rem;
  width: 37%;
  margin: 0% 0;
}

.adareer {
  overflow: hidden;
}

form.ac-frm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ac-frm input {
  width: 17rem;
}

form.ac-frm {
  padding: 4% 10%;
}

.hsoaiof {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img.consult {
  width: 42rem;
  right: 0px;
  position: absolute;
}

.hsoaiof {
  position: relative;
}

h2.actitle {
  font-weight: 400;
  font-size: 2rem;
  margin: 1% 0;
}
.fhrm {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.fhrm input,
.fhrm textarea {
  width: 100%;
  resize: vertical;
  padding: 3% 4%;
  margin: 2% 0;
}

button.acbutton {
  background: black;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  border: none;
}

button.acbutton:hover {
  background: var(--bl);
}

.namfrm {
  gap: 0.45em;
}

.job-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.job-card {
  display: flex;
  align-items: flex-start;
}
.range-row input[type="number"] {
  padding: 1em;
}

section.smemi1,
section.smemi2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.c2 ul li a {
  font-weight: 400;
  padding-left: 5px;
}
.frr2 li a:hover {
  color: lightgrey;
}
.c2 p {
  font-weight: 400;
  letter-spacing: -1px;
}

h1.fhed {
  font-weight: 600;
}

footer.foot {
  background: #00265f;
}

.btns a {
  padding: 10%;
  white-space: nowrap;
}
p.r3 {
  color: #ffffff;
}
#partner h2,
#partner h1 {
  color: var(--darkbl);
}
.a1ct p {
  text-align: justify;
  margin-left: 0;
}
a.hrc {
  color: white;
  border: none;
}

a.hrc:hover {
  color: white;
}
.scont div video {
  width: 12rem;
}

.scont div img {
  width: 12rem;
}

.scont div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  justify-content: flex-end;
}

.scont div p {
  font-size: 15px;
  text-align: justify;
}

h1.shead {
  font-size: 3.75rem;
}

.shead span {
  font-weight: 400;
  padding-right: 57%;
  line-height: 150%;
  font-size: 1.25rem;
  margin: 1% 0;
}
footer.foot {
  padding-bottom: 8%;
  background-image: url("../footbg.jpg");
}
.shead span {
  padding: 0 28%;
  border: none;
}
p.abtdes {
  letter-spacing: 0.5px;
}
.herocont {
  padding: 3% 10%;
}
p.abtdes {
  word-spacing: -2px;
}
.service-card video,
.service-card img {
  width: 60%;
}
p.fdes {
  text-align: justify;
  white-space: break-spaces;
  word-spacing: -2px;
}

.revcardsa p {
  text-align: justify;
  white-space: break-spaces;
  word-spacing: -1px;
}
.job-card {
  max-width: 100%;
}

.service-card.spec {
  max-width: 30%;
}
