
* {
  font-family: "Poppins";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  transition: all ease 0.2s;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  display: none;
}

:root {
  --bl: #0869ff;
  --darkbl: #003990;
  --rd: rgb(255, 69, 31);
}

:focus-visible,
:focus {
  outline: none;
}

.App {
  overflow-x: hidden;
}

p {
  /* text-align: justify; */
  text-justify: inter-word;
  hyphens: auto;
}