.counters-section {
  margin-bottom: 0;
}

#designDat h1 {
  margin: 2%;
}

a.btns {
  color: black;
  bottom: 2px;
  position: relative;
  background: rgb(194, 190, 190);
}

a.btns:hover {
  color: white;
  background: blue;
}
.pf-modal-container {
  scale: 0.75;
}

img.pygt {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1% 25%;
}
section.ab-values-section {
  width: 100%;
  display: flex;
}

.vanen {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.ab-values-content {
  max-width: none;
}

.navlist.suv::after {
  display: none;
}
div#cover {
  width: 100vw;
  height: 65vh;
  background-size: cover;
}
.inbnr img {
  width: 100%;
  border-radius: 23rem;
}
.pgcntt {
  margin-top: 30%;
}
section.sp-hero {
  padding: 5% 4%;
}
div#cover {
  display: flex;
  justify-content: flex-start;
}
.sp-docs-grid {
  padding: 0;
}

.sp-doc-card.sp-doc-card-shadow {
  max-width: 10rem;
}
#cover h1 {
  line-height: 115%;
  margin-bottom: 2%;
}
.cibprt {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
  align-content: center;
  align-items: center;
}
